<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nestjs - Hoc cung Nguyen</title>
</head>
<body>
    <div>
        Hello hoc cung nguyen: <%= message %>
    </div>
</body>
</html>